<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form enctype="multipart/form-data" th:method="POST" th:action="@{/}">
    <div>
        <label for="file">Choose a profile picture:</label>
        <input type="file" id="file" name="file"/>
    </div>
    <div class="submit">
        <button type="submit" class="btn btn-outline-light">  Submit  </button>
    </div>
</form>

<br/>

<div th:each="name : ${names}" th:if="${names ne null}">
    <p th:text="${name}"></p>
</div>


</body>
</html>